.aboutDiv {
    border-style: solid;
    padding: 8px;
}

.aboutTitle {
    font-family: garamond;
    font-size: 40px;
}

.aboutTxt {
    font-family: garamond;
    font-size: 25px;
}

.messageBox {
    height: 200px;
    width: 400px;
}

.submitBtn {
    font-family: garamond;
    font-size: 18px;
}

.submitBtn:hover {
    cursor: pointer;
}